<div id="u-skip">
  <a href="#gnb">주메뉴 바로가기</a>
  <a href="#main">본문 바로가기</a>
</div>
  <div id="gnb" class="container">
    <h1 class="logo"><a href="index.html">logo</a></h1>
    <nav class="navbar navbar-expand-md">
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="nav_bg"></div>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <h2 class="blind">전체메뉴</h2>
        <ul class="navbar-nav nav_depth1">
          <li>
            <a href="#"><span>menu1</span></a>
            <ul class="nav_depth2">
              <li><a href="#">menu1-1</a></li>
              <li><a href="#">menu1-2</a></li>
              <li><a href="#">menu1-3</a></li>
              <li><a href="#">menu1-4</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><span>menu2</span></a>
            <ul class="nav_depth2">
              <li><a href="#">menu2-1</a></li>
              <li><a href="#">menu2-2</a></li>
              <li><a href="#">menu2-3</a></li>
              <li><a href="#">menu2-4</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><span>menu3</span></a>
            <ul class="nav_depth2">
              <li><a href="#">menu3-1</a></li>
              <li><a href="#">menu3-2</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><span>menu4</span></a>
            <ul class="nav_depth2">
              <li><a href="#">menu4-1</a></li>
              <li><a href="#">menu4-2</a></li>
              <li><a href="#">menu4-3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>